.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.card {
  width: 150px;
  height: 100px;
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #555;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.value {
  font-size: 24px;
  margin-top: 10px;
}

.arrow {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: -1;
}

.arrowSvg {
  width: 600px;
  height: 150px;
  overflow: visible;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #80c565;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #68a74a;
}
